<div class="ad-slot<%= typeof className === "string" && className ? ` ${className}` : "" %>">
  <ins
    class="adsbygoogle"
    style="display:block"
    data-auto-init="true"
    data-ad-client="ca-pub-6071860223332114"
    data-ad-slot="<%= slot %>"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
</div>
